*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1130px;
    font-family: 'Raleway', sans-serif;
}
.display{
    width: 100%;
    height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.display p{
    position: relative;
   bottom: 130px;
   
}
.pic1{
    width: 100%;
    height: 500px;
    background-image: url(../images/img/polygonal-bg.jpg);
}
.pic2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titleDisplay{
    font-size: 30px;
    color: #fff;
    text-align: center;
   margin-bottom: 35px;
   word-spacing: 11px;
    
}
.titleDisplay sup{
    color: #e0934b;
}
.titleDisplay2{
    font-size: 15px;
    color: #fff;
    text-align: center;
    word-spacing: 2px;
}
.button{
   margin: 0 auto;
}
.button a{
    text-decoration: none;
    color: red;
    justify-content: center;
    text-transform: uppercase;
    padding: 14px 40px;
    border: 1px solid red;
    border-radius:40px;
    position: relative;
    bottom: 65px;
}
.full__box{
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
}
.box{
    font-size: 15px;
    width: 465px;
    height: 165px;
    color: rgb(99, 99, 99);
}
.textbox h4{
    font-size: 20px;
    color: rgb(5, 0, 78);
    margin-top: 180px;
}

.gallery{
    margin-top: 150px  ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box h5{
    color: rgb(5, 0, 78);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 22px;
    margin: 0 30px;
    
}
.photoBox::after{
    margin: 40px;
    display: block;
    text-align: center;
    left: 170px;
    content: "Product";
    color: red;
    text-transform: uppercase;
}